
<header th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a th:href="@{/}" class="navbar-brand"></a>
            <div class="d-flex justify-content-end" id="menu">
                <a class="btn btn-light me-2" th:href="@{/autenticacion/login}">Iniciar sesión</a>
                <a class="btn btn-warning" th:href="@{/autenticacion/registrarse}">Registrarse</a>
            </div>
        </div>
    </nav>
</header>