<header th:fragment="header" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <nav>
        <div class="nav-content">

               <a th:href="@{/home}"><img th:src="@{/imagenes/logo-misaccesorios.svg}" /> </a>

            <ul class="nav-links">
                <li><a href="/home">INICIO</a></li>
                <li><a th:href="@{/emprendimiento/lista}">EMPRENDIMIENTOS</a></li>
                <li><a th:href="@{/producto/formulario}">PRODUCTOS</a></li>
                <li class="iniciar-sesion-btn" sec:authorize="!isAuthenticated()"><a href="/autenticacion/login">👤</i></a></li>
                <li class="iniciar-sesion-btn" sec:authorize="isAuthenticated()"><a th:href="@{/mis-emprendimientos/{id}}">Mis emprendimientos</a></li>
                <li class="iniciar-sesion-btn" sec:authorize="isAuthenticated()"><a th:href="@{/mis-productos/{id}}">Mis productos</a></li>
                <li class="iniciar-sesion-btn" sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Cerrar sesión</a></li>

            </ul>
        </div>
    </nav>

    <script th:src="@{/js/validation.js}"></script>
</header>