<header th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <nav>
        <div class="nav-content">
            <div class="logo">
                <a href="#"><img src="logo-misaccesorios.svg" alt=""></a>
            </div>
            <ul class="nav-links">
                <li><a href="/home">INICIO</a></li>
                <li><a href="/">EMPRENDIMIENTOS</a></li>
                <li><a href="#">PRODUCTOS</a></li>
                <li class="iniciar-sesion-btn"><a href="/autenticacion/login">Iniciar sesión / Registrarse</a></li>


            </ul>
        </div>
    </nav>
</header>