*  {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Montserrat Alternates', sans-serif;
}

body{
	background: #f6f3f2;


}
nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px;
	z-index: 1;
	transition: all 0.4s ease;
	background: #dac8bf;
  }
  nav.sticky{
	padding: 15px 20px;
	background: #ffffff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  nav .nav-content{
	height: 100%;
	max-width: 1200px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  nav .logo a img{
	width: 90px;
  }
  nav.sticky .logo a img{
	color: rgb(0, 0, 0);
  }
  .nav-content .nav-links{
	display: flex;
  }
  .nav-content .nav-links li{
	list-style: none;
	margin: 0 8px;
  }
   .nav-links li a{
	text-decoration: none;
	color: #000000;
	font-size: 15px;
	font-weight: 600;
	padding: 10px 4px;
	transition: all 0.3s ease;
  }
   .nav-links li a:hover{
	 color: #ac8c7d;
   }
   nav.sticky .nav-links li a{
	 color: #fff;
	 transition: all 0.4s ease;
  }
   nav.sticky .nav-links li a:hover{
	color: #000000;
}

.nav-content .nav-links .iniciar-sesion-btn {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

.nav-content .nav-links .iniciar-sesion-btn a {
    color: #ac8c7d;
    font-size: 1rem;
    padding: 0.2rem 1.2rem;
    border: 1px solid #ac8c7d;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.nav-content .nav-links .iniciar-sesion-btn:hover a {
    color: #fff;
    background: #ac8c7d;
}
.nav-content .nav-links .registrarse-btn {
	background: #000;
	font-weight: 700;
	padding: 0;
	border-radius: 5px;
}

.nav-content .nav-links .registrarse-btn a{
	display: block;
	background: #a7a7a7;
	padding: 0.1rem 1.1rem;
	border: 1px solid #000;
	border-radius: 5px;
	transform: translate3d(-4px, -4px, 0);
	transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.nav-content .nav-links .registrarse-btn a:hover  {
	transform: translate3d(-8px, -8px, 0);
}

/* perfil//////////////////////////////////////////////////////////////////////////////////////////////////////////// */


.container-card{
	background: #fff;

	justify-content: space-around;
	align-items: center;
	justify-content: center ;
	position: center;
	margin-top: 200px;
	width: 100%;
}
.box{

	flex-wrap: wrap;
    margin-top: 150px;
	max-width: 1300px;
	padding: 10px;
    margin-left: 200px ;
}

.box img{
	float: left;
	margin-right: 50px;
	max-width: 400px;
	height: 400px;
	z-index: index;
	object-fit: cover;
	border-radius: 1rem;
	box-shadow: 5px 5px 0px #25282a;
	position: relative;
	transform: scale(1);
	transition: 200ms cubic-bezier(0.11, -0.25, 0.7, 1.22);
	transform-origin: bottom right;
}

.box .text{

	width: 100%;
	padding-top: 17px;
	min-width: 900px;
}

.box .text h1{

	color: #ac8c7d;

}


.box .text p{
font-weight: 400;
font-size:small;
margin-bottom: 10px;
}
.box .text p .telefono{
    font-size: small;
    margin-top: 20px;
}


.box .text p .localidad{
font-size: small;
margin-top: 10px;
}



.box .text p .direccion{
  font-size: small;
     margin-top: 10px;
}



.box .text .redes li{

    padding-right: 1em;
    padding-top: 1em;
    float: left;
    list-style: none
}

.box .text .redes li a{
    text-decoration: none;
	color: #ac8c7d;
}

.box .text .boton  {
    margin-top: 5em;
    margin-left: 11em;
}

.box .text .boton a {
    text-decoration: none;
    color: #ac8c7d;
    font-size: 1.1rem;
    padding: 0.2rem 1.2rem;
    border: 1px solid #ac8c7d;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.box .text .boton a:hover {
    color: #fff;
    background: #ac8c7d;
}