<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Formulario Emprendimientos</title>
    <link th:href="@{/css/formularioemprendimientoestilos.css}" rel="stylesheet" />

</head>

<body>

<div id="container">

    <header th:replace="fragmentos/header :: header"></header>

    <section>
        <h3>Registre su Emprendimiento:</h3>


        <Form th:action="@{/emprendimiento/__${accion}__}" th:object="${emprendimiento}" method="post" autocomplete="off" class="formemp" enctype="multipart/form-data" >
            <article class="article">
                <div class="inputcontainer">

                    <div class="file-select" id="src-file1">
                        <label>Logo del emprendimiento</label> <br>
                        <input type="file" name="logoEmprendimiento"  accept="image/*">
                        <br>
                    </div>

                </div>
            </article>
            <aside>

                <input type="hidden" th:field="*{idEmprendimiento}">
                <input type="hidden" th:field="*{usuario}">


                <div class="inputcontainer">
                    <label>Nombre del emprendimiento:</label> <br>
                    <input type="text" th:field="*{nombreEmprendimiento}" id="NombreEmprendimiento" class="input" placeholder="Nombre del emprendimiento.">
                    <br>
                </div>
                <div class="inputcontainer">
                    <label>Descripción del Emprendimiento:</label> <br>
                    <input type="text" th:field="*{descripcionEmprendimiento}" id="DescripciónEmprendimiento" class="inputdesc" placeholder="Ingrese una breve descripción.">
                    <br>
                </div>
                <div class="inputcontainer">
                    <label>Localidad</label> <br>
                    <input type="text" th:field="*{localidad}" id="Localidad" class="input" placeholder="¿de que municipio es?">
                    <br>
                </div>
                <div class="inputcontainer">
                    <label>Dirección</label> <br>
                    <input type="text" th:field="*{direccion}" id="Dirección" class="input" placeholder="¿donde podemos encontrarle?">
                    <br>
                </div>
                <div class="inputcontainer">
                    <label>Telefono</label> <br>
                    <input type="tel" th:field="*{telefonoEmprendimiento}" id="TelefonoEmprendimiento" class="input" placeholder="Ingrese Telefono o celular.">
                    <br>
                </div>
                <div class="inputcontainer">
                    <label>Instagram</label> <br>
                    <input type="url" th:field="*{instagram}" id="InstagramEmprendimiento" class="input" placeholder="Ingrese un Instagram.">
                    <br>
                </div>
                <br>
                <button th:text="${accion == 'crear' ? 'Crear' : 'Actualizar'}" type="submit"
                        class="button"></button>
            </aside>
        </Form>
    </section>
</div>
</body>
</html>