<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="utf-8">
    <title>Formulario Productos</title>
    <link th:href="@{/css/estilosinicio.css}" rel="stylesheet" />

</head>


<body>
<header th:replace="fragmentos/header :: header"></header>



<div class="container" id="home">
    <div class="texto-caja">
        <h2>Encontrá los mejores <br><span>emprendimientos misioneros</span></h2>
        <p>Queremos mostrarte accesorios de moda, <br>de la mano de productores regionales </p>
    </div>
</div>

</body>
</html>
