<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Lista emprendimientos</title>
    <link rel="stylesheet" href="emprendimientos.css"/>
</head>

<body>

<header th:replace="fragmentos/header :: header"></header>

<div class="container-card">
    <div class="box">
        <div class="heading">
            <img src="emprendimiento-1-img.jpeg" alt="">
            <div class="text">
                <h2> th:field="*{nombreEmprendimiento}" </h2>
                <h3>VETA lentesdemadera</h3>
                <p>Lentes de madera. <br>
                    Diseños exclusivos de lentes <br>
                    hechos de madera.</p>
                <a href="#">ir</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>