<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="productos-mostrar.css">
    <link th:href="@{/css/productos-mostrar.css}" rel="stylesheet" />
    <link th:href="@{/css/footer.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>


<!-- ------------------------------------navbarrr---------------------------------------------------------------- -->

<body>
<header>
    <header th:replace="fragmentos/header :: header"></header>
</header>

<!-- ------------------------------------tarjetas---------------------------------------------------------------- -->

<div class="container-card" id="container-buscador">
    <form th:action="@{/producto/productos-por-categoria}" method="get">
            <input type="text" name="categoria" id="categoria" th:value="${categoria}" placeholder="Buscar por categoría">

    <button type="submit" class="buscar-btn">Buscar</button>

</form>
</div>

<div class="container-card">


    </div>
   <div class="box" th:each="producto : ${productos}" >
        <a th:href="@{/producto/detalle/__${producto.idProducto}__}">
        <div class="heading">
            <img th:src="${producto.imagen} ? @{/uploads/__${producto.imagen}__} : @{/uploads/default.jpg}"
                 alt="Formato de imagen incompatible">
            <div class="text">
                <a href=""><h2 th:text="${producto.nombreProducto}"></h2></a>
                <h3 th:text="${producto.emprendimiento.nombreEmprendimiento}"></h3>
                <p th:text="${producto.descripcionProducto}"></p>
            </div>

        </div>
        </a>
    </div>

    <div class="container-card"  sec:authorize="isAuthenticated()">
        <div class="box"  >
            <a th:href="@{/producto/formulario}">AGREGAR PRODUCTO</a>

        </div>
    </div>
</div>
</body>
</html>