<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Formulario Producto</title>
    <link rel="stylesheet" th:href="@{/css/formproductoestilo.css}"/>
</head>

<body>


<header th:replace="fragmentos/header :: header"></header>




<div id="container">



    <div class="clearfix"></div>

    <section id="FormProduct">
        <h3>Registrar un producto:</h3> <br>

        <div class="clearfix"></div>

        <form th:action="@{/producto/__${accion}__}" th:object="${producto}" method="post" autocomplete="off">
            <aside class="formPro">
                <div class="imputcontainer">
                    <label>Nombre del producto:</label> <br>
                    <input type="text" id="NombreProducto" th:field="*{nombreProducto}" class="input" placeholder="Ingrese un nombre al producto">
                    <br>
                </div>
                <div class="imputcontainer">
                    <label>Descripción del producto:</label> <br>
                    <input Type="text" id="DescripciónProducto" th:field="*{descripcionProducto}" class="inputdesc" placeholder="Ingrese una breve descripción.">
                    <br>
                </div>
                <div class="imputcontainer">
                    <label>Emprendimiento:</label> <br>
                    <input type="text" id="EmprendimientoProducto" th:field="*{nombreEmprendimiento}" class="input" placeholder="¿a que emprendimiento pertenece?">
                    <br>
                </div>
                <div class="imputcontainer">
                    <label>Categoría</label> <br>
                    <input type="text" id="CategoriaProducto" th:field="*{categoria}" class="input" placeholder="¿a que categoría pertenece?">
                    <br>
                </div>
                <br>
                <button th:text="${accion == 'crear' ? 'Crear' : 'Actualizar'}" type="submit"
                        class="button"><a th:href="@{/}"></a></button>

            </aside>

            <article class="Imagen">

                <div class="file-select" id="src-file1" >
                    <input type="file" th:field="*{imagen}" aria-label="Archivo">
                </div>

            </article>

            <br>

            <div class="clearfix"></div>
        </form>
    </section>

</div>
</body>


</html>