<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Accesorios</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a0ff895d56.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/detalleProducto.css}">

</head>
<body>

<header th:replace="fragmentos/header :: header"></header>

<main>
    <div class="contenedor">
        <div class="sub-contenedor1">
            <div class="caja-producto">
                <img id = "imagen-producto" th:src="${producto.imagen} ? @{/uploads/__${producto.imagen}__} : @{/uploads/default.jpg}"
                     alt="Formato de imagen incompatible">
            </div>
        </div>
        <div class="sub-contenedor2">
            <div class="informacion" sec:authorize="isAuthenticated()">


                <a th:href="@{/producto/editar/__${producto.idProducto}__}"> <i class="fa-solid fa-pen-to-square icono-informacion"></i></a>

                <a href="#" onclick="document.getElementById('id01').style.display='block'"><i class="fa-solid fa-trash-can icono-informacion"></i> </a>

                <div id="id01" class="modal">

                    <form class="modal-content" th:action="@{/producto/borrar/__${producto.idProducto}__}" method="post">
                        <div class="container">
                            <h1>Confirmación</h1>
                            <p>¿Está seguro que desea eliminar este producto?</p>

                            <div class="clearfix">
                                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="boton-contactar">Cancelar</button>

                                    <button type="submit" class="boton-contactar">Eliminar</button>


                            </div>
                        </div>
                    </form>
                </div>



            </div>
            <div class="subtitulos">
                <h2 class = "titulo-producto" th:text="${producto.nombreProducto}"></h2>
                <h2 class="titulo-emprendimiento" th:text="${producto.emprendimiento.nombreEmprendimiento}"></h2>
            </div>
            <div class="descripcion">
                <p class="texto-descripcion" th:text="${producto.descripcionProducto}">
                </p>
            </div>
            <div class="contenedor-contactar">
                <div class="boton-contactar">
                    <a th:href="${producto.emprendimiento.instagram}">CONTACTAR</a>

                </div>
            </div>

        </div>
    </div>
</main>
</body>
</html>