<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org", xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/formulario-usuario.css}" rel="stylesheet" />
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
    <title> Editar Usuario</title>
</head>

<body>
<header th:replace="fragmentos/header :: header"></header>

<main>
    <div class="container">
        <div class="row mt-5">
            <div class="col-6">
                <form th:action="@{/usuario/__${accion}__}" th:object="${usuario}" method="post" autocomplete="off"
                      class="needs-validation" novalidate>
                    <input type="hidden" th:field="*{id}" id="id">

                    <div class="">
                        <input type="text" th:field="*{nombreUsuario}" id="nombreUsuario" class="form-control"
                               placeholder="Nombre de usuario" required>
                        <label for="nombreUsuario">Nombre</label>
                        <div class="invalid-feedback"></div>
                    </div>

                    <div class="">
                        <input type="text" th:field="*{apellidoUsuario}" id="apellidoUsuario" class="form-control"
                               placeholder="Apellido" required>
                        <label for="apellidoUsuario">Apellido</label>
                        <div class="invalid-feedback"></div>
                    </div>

                    <div class="">
                        <input type="tel" th:field="*{telefono}" id="telefono" class="form-control"
                               placeholder="Telefono" required>
                        <label for="telefono">Teléfono</label>
                        <div class="invalid-feedback"></div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" th:field="*{email}" id="email" class="form-control" placeholder="Email"
                               required>
                        <label for="email">Email</label>

                    </div>

                    <div class="">
                        <input type="password" th:field="*{contrasenia}" id="contrasenia" class="form-control"
                               placeholder="Password" required>
                        <label for="contrasenia">Contraseña</label>

                    </div>



                    <button th:text="${accion == 'crear' ? 'Crear' : 'Actualizar'}" type="submit"
                            class="btn btn-primary"></button>
                </form>
            </div>
        </div>
    </div>
</main>



<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/validation.js}"></script>
</body>

</html>